<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About us</h1>
            <p class="text-center sub-heading">Build Your Dream</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="images/building.svg" alt="herosection_image">
                    </figure>
                </div>

                {{!-- Right side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>CONSTRUCTION AND DESIGN</h1>
                    <p>Ready to do construction services based on your needs.</p>
                    {{!-- <button class="btn-style btn-primary">Read More</button> --}}
                </div>
            </div>
        </div>
    </div>
</div>