<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box title">
                        <h4 class="widget-title">SS Construction House Plan Design & Interior</h4>
                        <p>We provide every services related to building construction, management, maintenance, planning, designing and re-modelling.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box title">
                        <h4 class="widget-title">Quick Links</h5>
                        <ul class="thumbnail-widget">
                            <li class="nav-item active footer_link">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#aboutid">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#serviceid">Services <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#contactid">Contact <span class="sr-only">(current)</span></a>
                        </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box title">
                        <h4 class="widget-title">Contact Us</h4>

                        <p>Email: <a href="https://ishibu7474@gmail.com" title="email">ishibu7474@gmail.com</a></p>
                        <p>Mobile: <a href="tel:7007188605">Call: +91 7007188605</a></p>
                        <p>Location: Khajanchi, Gorakhpur-273013</p>
                        <ul class="social-footer2">
                            <li>
                                <a href="https://www.facebook.com/ishibu7474" target="_blank" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ishibu7474" target="_blank" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright SS Construction © 2021. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>