<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Building Construction</h4>
                            <p>Building construction sevices according to your need.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Planning</h4>
                            <p>Planning house maintenanace and other services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Designing</h4>
                            <p>All types of designing related to construction.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Construction Management</h4>
                            <p>Managing construction works effectively and efficiently.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Maintenanace</h4>
                            <p>Maintaining house services with quality services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Re-Modelling</h4>
                            <p>Re-Modelling house services with quality services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>